@import "vars";
@import "reset";
@import "side-bar";
@import "top-bar";

html {
	border: 1px solid var(--of-default-grey-dark);
	box-sizing: border-box;
}

body {
	--frame-background-color: var(--of-default-white);
	--body-font-color: --of-default-black;
	display: grid;
	grid-template-rows: 3rem 1fr;

	&[data-main-window="true"] {
		--layout-container-width: calc(100% - 1rem); // this needs calibration because of the grid, not sure why

		grid-template-columns: 15rem 1fr;

		@media (max-width: $max_mobile_width) {
			grid-template-columns: 5rem 1fr;
		}

		side-bar { grid-area: 1 / 1 / 3 / 2; }
		top-bar { grid-area: 1 / 2 /2 / 3; }
		main { grid-area: 2 / 2 / 3 / 3; }
	}

	&[data-sidebar-hidden="true"] {
		grid-template-columns: 0 1fr;

		side-bar { display:none; }
	}

	&:not([data-main-window="true"]) {
		grid-template-columns: 1fr;

		.btn_toggleSidebar { display: none; }

		side-bar {
			display:none;
		}
	}
}
	
main {
	position: relative;
}

body[single-tab-window="true"] {
	--layout-container-padding: 0;
	--layout-container-width: 100%;

	.lm_tab { width: 100%; }
	.lm_title { display: none; }
}